* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%!important;
    width: 100%;
}

section h1 {
    font-size: 2rem;
    text-align: center;
}

footer {
    background-color: black;
    text-align: center;
}

.dd-logo {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 10px;
}

.dd-logo i {
    font-size: 2rem;
    padding-top: -20px;
}

.dd-nav {
    color: white;
}

.navbar-item a {
    font-size: 1.2rem;
    color: white;
}


.dd-row {
    display: flex;
    min-height: 100%;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-stretch;
    background-color: #3e8ed0;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.dd-column {
    flex: 1;
}

.resultsBox {
    width: 600px;
    height: 500px;
    background-color: #aaa;
    color: black;
    border: 1px solid black;
}


.weather {
    margin: 20px;
}

.column.dd-columns {
    display: inline-block; 
}

.column.dd-columns > div {
    width: 100%;
}

.box {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: black!important;
    color:white!important;
    text-align:center!important;
    align-items: center!important;
    border-radius: 10px;
}

.box textarea {
    width: 90%;
    font-size: 1rem;
}

footer {
    position: relative!important;
    background-color: black;
    color: white;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}