* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%!important;
    width: 100%;
}

.hide {
    display: none;
}

section h1 {
    font-size: 2rem;
    text-align: center;
}

footer {
    background-color: black;
    text-align: center;
}

.dd-logo {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 10px;
}

.dd-logo i {
    font-size: 2rem;
    padding-top: -20px;
}

.dd-nav {
    color: white;
}

.navbar-item a {
    font-size: 1.2rem;
    color: white;
}

.dd-row {
    display: flex;
    min-height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-stretch;
    background-color: #3e8ed0;
    color: black;
    padding: 10px 10px 20px 10px;
    margin-bottom: 20px;
}

.dd-row h1 {
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: #05487e;
    border-radius: 10px 10px 0 0;
}

.dd-column {
    flex: 1;
}

.resultsBox {
    width: 100%;
    height: 500px;
    padding: 2%;
    background-color: #aaa;
    font-size: 1.1rem;
    color: black;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

.ingredientsTitle {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
}

.resultsBox ul li {
    list-style: none;
    text-align: left;;
}

.name {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
}

.instructions {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
}

.instDrinkText, .instDinnerText {
    font-size: 1rem;
    text-align: left;;
}

.weather {
    margin: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px;
    background-color: lightcyan;
    border-radius: 5px;
    border: 1px solid black;
}

.column.dd-columns {
    display: inline-block; 
}

.column.dd-columns > div {
    width: 100%;
}

.box {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    background-color: black!important;
    color:white!important;
    text-align:center!important;
    align-items: center!important;
    border-radius: 10px;
}

.box textarea {
    width: 90%;
    font-size: 1rem;
}

footer {
    position: relative!important;
    background-color: black;
    color: white;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}